.containerForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.flecha{
    width: 20px;
    height: 20px;
}

.emailyButton{
    width: 608px;
    height: 45px;
    font-size: small;
    font-weight: bold;
    border: 1px solid black;
}
input{
    font-size: small;
    font-weight: bold;
    width: 545px;
    height: 43px;
    border: transparent;
    padding-left: 20px;

}

button{
    border: none;
}

